APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_URL_FRONT_END=http://localhost:4200/login

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=parcautomobilepac
DB_USERNAME=root
DB_PASSWORD=Root@dm1n

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

#STATUT DISPONIBILTE
STATUT_DISPONIBLE = "DISPONIBLE"
STATUT_INDISPONIBLE = "INDISPONIBLE"
STATUT_ABSENT= "ABSENT"
STATUT_REPOS = "REPOS"
STATUT_COURSE = "COURSE"
STATUT_CONGE = "CONGE"

#STATUT DEMANDE COURSES
STATUT_DEMANDE_COURSE_CREEE = "CREEE"
STATUT_DEMANDE_COURSE_AFFECTEE = "AFFECTEE"
STATUT_DEMANDE_COURSE_DEMARREE = "DEMARREE"
STATUT_DEMANDE_COURSE_TERMINEE = "TERMINEE"

CONTACT_EMAIL = "contact@parc.bj"

#STATUT CRITERE
STATUT_CRITERE_ACTIF = "ACTIF"
STATUT_CRITERE_INACTIF = "INACTIF"

#ROLE
ROLE_ADMIN = "ADMIN"
ROLE_AGENT = "AGENT"

TIME_MARGE_ADD = 15
TIME_MARGE_LESS = -15

ADMIN_EMAIL="fidelaihounkpe@gmail.com"

#   MOOV CONFIGURATION

MOOV_API_HOST = "https://smsapi.moov.bj"
MOOV_API_PORT = 8443
MOOV_API_USERNAME = admin
MOOV_API_PASSWORD = root1234
MOOV_API_KEY = e6e061838856bf47e1de730719fb2609
MOOV_API_SRC = MMG
MOOV_API_REF_NUMBER = 22507070707
MOOV_API_URL = "/sendmsg/api"
MOOV_MESSAGE_HEADER = "Bonjour "
MOOV_MESSAGE_DEMANDE_COURSE_ADMIN_DEBUT = "vous recevez ce message car "
MOOV_MESSAGE_DEMANDE_COURSE_ADMIN_FIN = " vient de créer une demande de course sur l'application "
MOOV_MESSAGE_DEMANDE_COURSE = "vous recevez ce message car vous venez de créer une demande de course sur l'application "
MOOV_MESSAGE_AFFECTATION_DEMANDEUR_DEBUT = "vous recevez ce message parce que votre demande de course a été affectée avec succès. Le chauffeur qui vous a été affecté se dénomme "
MOOV_MESSAGE_AFFECTATION_DEMANDEUR_FIN = "au vehicule "
MOOV_MESSAGE_AFFECTATION_CHAUFFEUR = "vous recevez ce message parce qu'une demande de course vous a été affectée. Les details sont les suivants: "
MOOV_MESSAGE_DEMANDE_COURSE_TERMINEE_DEBUT = "vous recevez ce message car "
MOOV_MESSAGE_DEMANDE_COURSE_TERMINEE_FIN = "vient de terminer sa course"
MOOV_MESSAGE_DEMANDE_COURSE_DEMANDEUR_TERMINEE = "veuillez noter votre demande de course que vous venez terminée"

#STATUT SMS
SMS_CREE = "CREE"
SMS_ENVOYE = "ENVOYE"
SMS_FAILED = "ECHEC"
